:root {
  --bg-color: #fcf5eb;
  --text-color: #1c1e21;
  --text-secondary-color: #2a2d31;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0d0d0d;
    --text-color: #e6e6e6;
    --text-secondary-color: #dfdfdf;
  }
}
